<p><label for="recipe_name">Name: </label></p>
<p><input id="recipe_name" name="recipe[name]" type="text" value="<%= @recipe.name %>"></p>
<p><label for="recipe_description">Description: </label></p>
<p><textarea cols="50" rows="5" id="recipe_description" name="recipe[description]"><%= @recipe.description %></textarea></p>
<p><label for="recipe_tags">Tags:</label></p>
  <% @tags.each do |tag| %>
    <%= check_box_tag(
        "tag_list[#{tag.id}]",
        @recipe.tags.detect{|d| d == tag}) %>
    <%= "#{tag.name}" %><br/>
  <% end %>
<p><label for="recipe_stars">Rate the recipe:</label></p>
<input type="radio" name="recipe[stars]" value="1"> * </br>
<input type="radio" name="recipe[stars]" value="2"> ** </br>
<input type="radio" name="recipe[stars]" value="3"> *** </br>
<input type="radio" name="recipe[stars]" value="4"> **** </br>
<input type="radio" name="recipe[stars]" value="5"> ***** </br>
</br>





