<p><label for="recipe_name">Name: </label></p>
<p><input id="recipe_name" name="recipe[name]" type="text" value="<%= @recipe.name %>"></p>
<p><label for="recipe_description">Description: </label></p>
<p><textarea cols="50" rows="5" id="recipe_description" name="recipe[description]"><%= @recipe.description %></textarea></p>

