<h1>Recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
  <% end %>
</ul>

<p><a href="">View By Rating</a></p>
<p><a href="/recipes/new">Add A Recipe</a></p>

</br>
</br>


<p>View Recipes by Tag:</p>
 <% Tag.all.each do |tag| %>
  <a href="/tags/<%= tag.id %>"> <%= tag.name %></a>
  <% end %>
